.ui-progressbar .ui-progressbar-value { background-image: url(pbar-ani.gif); }
.wiki_copy_assi {
    height: 300px;
    border-width: 2px;
    border-style: solid;
    padding: 5px;
    margin-bottom: 10px;
}

h1 {
    font-size: 18px;
}
